body {
    padding: 3rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4169e1;
    min-height: 100vh;
    color:white;
}

h1, h2, p, a{
    font-family: 'Open Sans', sans-serif;
    color:white;
}

a{
    text-decoration: none;
}

h1 {
    font-weight: 800;
    margin: auto 0 0 0;
    font-size: 40pt;
    text-align: center;
    text-decoration: underline;
}

p {
    font-weight: 300;
    font-size: 20pt;
    padding: 0 100px 25px 100px;
}


@media (max-width:768px){
    body{
        height: auto;
    }
    h1{
        font-size: 20pt;
        padding: 30px 0 0 0;
    }
    p {
        font-weight: 300;
        font-size: 15pt;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}